In [29]:
def isMutant (dna) :
    n = len(dna)

    dna_trans = []
    for i in range(n) :
        l = []
        for j in range(n) :
            l.append(dna[j][i])
        dna_trans.append(l)

    def check (x) :
        count = 0
        for row in x :
            for i in range(n - 3) :
                s = set(row[i:i + 4])
                if len(s) == 1 :
                    count += 1
                    if count == 2 : 
                        return True
    check (dna)
    check (dna_trans)
    #return False

In [30]:
dna = ['ATGCGA','CAGTGC','TTATGT','AAAAGG','CGCCTA','TCACTG']
isMutant (dna)

In [12]:
import numpy as np

def isMutant (dna) :
    count = 0
    n = len(dna)

    dna_matrix =[]
    for row in dna :
        row = list(row)
        dna_matrix.append(row)

    dna_mirror =[]
    for row in dna :
        row = row[::-1]
        dna_mirror.append(row)

    dna_trans = []
    for i in range(n) :
        l = []
        for j in range(n) :
            l.append(dna[j][i])
        dna_trans.append(l)

    """for row in dna :
        for i in range(n - 3) :
            s = set(row[i:i + 4])
            if len(s) == 1 :
                count += 1
                if count == 2 : 
                    return True

    for row in dna_trans :
        for i in range(n - 3) :
            s = set(row[i:i + 4])
            if len(s) == 1 :
                count += 1
                if count == 2 : 
                    return True"""

    for i in range(1-n,n,1) :
        diag = list(np.diag(dna_matrix, i))
        if len(diag) >= 4 :
            for j in range(n - 3) :
                s = set(row[j:j + 4])
                if len(s) == 1 :
                    count += 1
                    if count == 1 : 
                        return True

    for i in range(1-n,n,1) :
        diag = list(np.diag(dna_mirror, i))
        if len(diag) >= 4 :
            for j in range(n - 3) :
                s = set(row[j:j + 4])
                if len(s) == 1 :
                    count += 1
                    if count == 1 : 
                        return True

    return False

dna = ['ATGCGA','CAGTGC','TTATGT','AGAAGG','CCCCTA','TCACTG']
isMutant (dna)

False

In [11]:
dna = ['ATGCGA','CAGTGC','TTATGT','AGAAGG','CCCCTA','TCACTG']
isMutant (dna)

False

In [8]:
dna = ['ATGCGA','CAGTGC','TTATGT','AGAAGG','CCCCTA','TCACTG']
dna_matrix =[]
for row in dna :
    row = list(row)
    dna_matrix.append(row)
dna_matrix

[['A', 'T', 'G', 'C', 'G', 'A'],
 ['C', 'A', 'G', 'T', 'G', 'C'],
 ['T', 'T', 'A', 'T', 'G', 'T'],
 ['A', 'G', 'A', 'A', 'G', 'G'],
 ['C', 'C', 'C', 'C', 'T', 'A'],
 ['T', 'C', 'A', 'C', 'T', 'G']]

In [21]:
dna = ['ATGCGA','CAGTGC','TTATGT','AGAAGG','CCCCTA','TCACTG']
dna_matrix =[]
for row in dna :
    row = list(row)
    dna_matrix.append(row)
dna_matrix

[['A', 'T', 'G', 'C', 'G', 'A'],
 ['C', 'A', 'G', 'T', 'G', 'C'],
 ['T', 'T', 'A', 'T', 'G', 'T'],
 ['A', 'G', 'A', 'A', 'G', 'G'],
 ['C', 'C', 'C', 'C', 'T', 'A'],
 ['T', 'C', 'A', 'C', 'T', 'G']]

In [23]:
print(row)

['T', 'C', 'A', 'C', 'T', 'G']

In [25]:
list_diag = []
for i in range(len(row)) :
    x = row[i]
    list_diag.append(x)
list_diag

['T', 'C', 'A', 'C', 'T', 'G']

In [27]:
diag = list(np.diag(dna_matrix, -2))
list_diag = []
for i in range(len(diag)) :
    x = diag[i]
    list_diag.append(x)
list_diag

['T', 'G', 'C', 'C']

In [10]:
dna_mirror =[]
for row in dna_matrix :
    row = row[::-1]
    dna_mirror.append(row)
dna_mirror

[['A', 'G', 'C', 'G', 'T', 'A'],
 ['C', 'G', 'T', 'G', 'A', 'C'],
 ['T', 'G', 'T', 'A', 'T', 'T'],
 ['G', 'G', 'A', 'A', 'G', 'A'],
 ['A', 'T', 'C', 'C', 'C', 'C'],
 ['G', 'T', 'C', 'A', 'C', 'T']]

In [1]:
import yfinance as yf

In [2]:
yf_df = yf.download(f"OG-USD")
yf_df.columns = ['open', 'high', 'low', 'close', 'adj close', 'volume']
yf_df.index.names = ['date']
del yf_df['adj close']
yf_df

[*********************100%***********************]  1 of 1 completed

                open      high       low     close    volume
date
2020-06-21  1.989699  2.111194  1.806766  1.883400    142585
2020-06-22  1.880668  3.639432  1.797348  3.031074    215493
2020-06-23  3.021980  3.190308  2.764269  2.857420    282096
2020-06-24  2.895826  3.163879  2.553977  3.024771    289962
2020-06-25  3.088163  3.471680  2.933628  3.361433    324257
...              ...       ...       ...       ...       ...
2022-03-14  4.392131  6.158588  4.046318  4.064424  50133696
2022-03-15  4.069272  4.234039  3.561978  3.569075  13421292
2022-03-16  3.568174  4.547621  3.516001  4.012244  24099211
2022-03-17  3.984808  4.284104  3.731918  3.754405  12575519
2022-03-18  3.754313  3.765429  3.442644  3.651882   7527796

[594 rows x 5 columns]

In [6]:
yf_df.to_csv('Files/OGUSD.csv')

In [8]:
import pandas as pd

In [9]:
missing = pd.date_range(start=yf_df.index[0], end=yf_df.index[len(yf_df) - 1]).difference(yf_df.index)
missing

DatetimeIndex(['2021-12-23', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
               '2022-01-11', '2022-01-18', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-02-07', '2022-02-08', '2022-02-09',
               '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13',
               '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17',
               '2022-02-18', '2022-02-19', '2022-02-20', '2022-02-21',
               '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25',
               '2022-02-26', '2022-02-27', '2022-02-28', '2022-03-01',
               '2022-03-02', '2022-03-03', '2022-03-10', '2022-03-11',
               '2022-03-12', '2022-03-13'],
              dtype='datetime64[ns]', freq=None)

In [3]:
import binance as bnb
client = bnb.Client('yp4IdJHY5YdmWMM3KF6fmW8wynwqet3t8PGP4pxkXKJrmomL2Odxo3EUbmLzxVb4', 'mq8rq16gFB132Xd1wkwjya6XMt9UzBZFWhnb2cKiAoWlNV3oikD1Hi7UY1OJarL2')

In [4]:
import pandas as pd

In [5]:
first_date = client._get_earliest_valid_timestamp(f"BTCUSDT", '1d')
historical = client.get_historical_klines(f"BTCUSDT", '1d', first_date)
for line in historical :
    del line[6:]
BTC_global = pd.DataFrame(historical, columns=['date', 'open', 'high', 'low', 'close', 'volume'])
BTC_global.set_index('date', inplace=True)
BTC_global.index = pd.to_datetime(BTC_global.index, unit='ms')

cols = ['open', 'high', 'low', 'close', 'volume']
for col in cols :
    BTC_global[col] = [float(i) for i in BTC_global[col]]

BTC_global

                open      high       low     close        volume
date
2017-08-17   4261.48   4485.39   4200.74   4285.08    795.150377
2017-08-18   4285.08   4371.52   3938.77   4108.37   1199.888264
2017-08-19   4108.37   4184.69   3850.00   4139.98    381.309763
2017-08-20   4120.98   4211.08   4032.62   4086.29    467.083022
2017-08-21   4069.13   4119.62   3911.79   4016.00    691.743060
...              ...       ...       ...       ...           ...
2022-03-11  39422.01  40236.26  38223.60  38729.57  59018.764200
2022-03-12  38729.57  39486.71  38660.52  38807.36  24034.364320
2022-03-13  38807.35  39310.00  37578.51  37777.34  32791.823590
2022-03-14  37777.35  39947.12  37555.00  39671.37  46945.453750
2022-03-15  39671.37  39804.68  38098.33  39050.75  30086.847690

[1672 rows x 5 columns]